@import '../../../styles/variables';

.footer-container {
  // background: white;
  // padding: 60px 20px 30px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  // background-color: #122842;
  background-color: $secondary-color;
  border-radius: 20px;
  padding: 50px 40px 30px;
  // max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {

  .logo-img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.footer-nav {
  width: 100%;

  .nav-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 30px;
    a{color: #fff;}

    .nav-link {
      color: #F0F0F0;
      text-decoration: none;
      font-weight: 400;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover ,&:hover a{
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}



.footer-copyright {
  p {
    color: #F0F0F0;
    font-size: 14px;
    margin: 0;

    .copyright-brand {
      font-weight: 600;
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  .footer-content {
    padding: 40px 20px 25px;
    border-radius: 15px;
  }

  .footer-logo .logo-img {
    max-width: 180px;
  }

  .footer-nav .nav-row {
    gap: 15px 20px;

    // .nav-link {
    //   font-size: 14px;
    // }
  }




}
