@import '../../../styles/variables';

::ng-deep .mat-expansion-indicator {
  display: none;
}
::ng-deep .mat-expansion-panel-header-title{

  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-line-clamp: 1 !important;
  line-clamp: 1;
  line-height: 1.5;

}

::ng-deep .mat-expansion-panel-header   {
  height: 50px !important;
  i  {
    width: 30px !important;
    height: 30px !important;
    }
}

::ng-deep .mat-expansion-panel-header.mat-expanded  {
  height: 70px !important;
  .mat-expansion-panel-header-title{

    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    line-clamp: 2;

  }
}

::ng-deep .mat-expansion-panel-header-description {
   flex-grow: 0 !important;
  }

::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
   background: $primary-white-color !important;
  }
::ng-deep .mat-expansion-panel .mat-expansion-panel-header:hover {
   background: $primary-color !important;
  }

::ng-deep figcaption p{line-height: 1.5 !important; }
::ng-deep .mat-expansion-panel.mat-expansion-panel{
  //  box-shadow: 1px 1px 8px 2px rgba(28, 127, 220, 0.2) !important;
   box-shadow:none !important;
   }

   ::ng-deep .mat-panel-title.mat-expansion-panel-header-title.h5.mb-0.fw-bold.ng-tns-c2622717266-21 {
    color: black !important;
    font-weight: 400 !important;
    font-family: system-ui;
    font-size: 16px;
    background-color: brown;
}
