@import "../../../styles/variables";

.listFilter{
  span{
    width: 25px;
    height: 25px;
    border:1px solid $primary-color;
    color: $primary-color;
    transition: all 1s;
}

  &:hover{

    background-color: $primary-white-color;
    span{
      color: $secondary-color;
      border:1px solid $secondary-color;
    }
  }
}

