
section{

  background: url('../../../assets/image/makeTrip-banner-vertical.webp') center no-repeat;
  background-size: cover;

    min-height: 85vh;

    @media screen and (max-width:992px) {
      background: url('../../../assets/image/makeTrip-banner-horizintal.webp') center no-repeat;
      background-size: cover;
    }
}
