<section class="py-5 position-relative bgPrimaryWhiteColor">
  <div class="container">
    <div class="text-white mb-5">
      <h2 class="text-capitalize fw-bold text-center h1">{{ 'makeTrip.makeYourTrip' | translate }}</h2>
    </div>
    <form
      [formGroup]="makeTripForm"
      (ngSubmit)="onMakeTripSubmit()"
      class="row g-3 align-items-center justify-content-between px-4 bg-white rounded-4 bg-opacity-50"
    >
      <div class="col-12 ps-0">
        <mat-radio-group
          [value]="MarkTime"
          (change)="onChangeTime($event.value)"
          class="d-flex flex-wrap gap-1"
        >
          <mat-radio-button value="exact">{{ 'makeTrip.haveExactTime' | translate }}</mat-radio-button>
          <mat-radio-button value="approximate"
            >{{ 'makeTrip.haveApproximateTime' | translate }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="col-xl-3 col-lg-4">
        <div class="text-capitalize">
          <label class="textSecondColor"
            ><i class="fa fa-map-marker-alt me-2 mb-2"></i>{{ 'makeTrip.destinations' | translate }}</label
          >
          <mat-form-field class="w-100">
            <mat-select formControlName="city">
              <mat-option value="" disabled selected>
                {{ 'makeTrip.myDestination' | translate }}
              </mat-option>
              <mat-option
                *ngFor="let des of allDestinations"
                [value]="des.slug"
              >
                {{ des.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- if have exact time -->
      @if (MarkTime==='exact') {
      <div class="col-xl-3 col-lg-4">
        <div class="text-capitalize">
          <label class="textSecondColor"
            ><i class="fa fa-calendar-days me-2 mb-2"></i>
            {{ 'makeTrip.checkInDate' | translate }}
          </label>
          <mat-form-field class="w-100">
            <mat-label>{{ 'makeTrip.startDate' | translate }}</mat-label>
            <input
              formControlName="start_date"
              matInput
              [matDatepicker]="StartDatepicker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="StartDatepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi #StartDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4">
        <div class="text-capitalize">
          <label class="textSecondColor"
            ><i class="fa fa-calendar-days me-2 mb-2"></i>
            {{ 'makeTrip.checkOutDate' | translate }}
          </label>
          <mat-form-field class="w-100">
            <mat-label>{{ 'makeTrip.endDate' | translate }}</mat-label>
            <input
              formControlName="end_date"
              matInput
              [matDatepicker]="EndDatepicker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="EndDatepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi #EndDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      }

      <!-- if have aproximate time -->
      @if (MarkTime==='approximate') {
      <div class="col-xl-7 col-lg-8">
        <div>
          <label class="textSecondColor"
            ><i class="fa fa-calendar-days me-2 mb-2"></i>
            {{ 'makeTrip.chooseMonth' | translate }}
          </label>
          <mat-form-field class="w-100">
            <mat-label>{{ 'makeTrip.selectMonth' | translate }}</mat-label>
            <mat-select formControlName="approximate_time">
              <mat-option
                *ngFor="let month of monthList; let i = index"
                [value]="i + 1"
                >{{ month }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      }

      <div class="col-xl-2 col-lg-12">
        <div class="text-capitalize flexCenter">
          <button
            type="submit"
            class="mainBtn Btn flexBetween gap-2 w-100 mb-2"
          >
            {{ 'common.makeTrip' | translate }}<i
              class="fa fa-plane-circle-check bgPrimaryWhiteColor textMainColor rounded-circle"
            ></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <figure class="position-absolute top-0 end-0">
    <img
      src="../../../assets/image/mg/hero-img-1.webp"
      class="w-100 h-100"
      alt="egygo image"
    />
  </figure>
</section>
