
section{

  background: url('../../../assets/image/makeTrip-banner-vertical.webp') center no-repeat;
  background-size: cover;

    min-height: 85vh;
    figure{
        width: 120px;
        height: 120px;
    }

    @media screen and (max-width:992px) {
      background: url('../../../assets/image/makeTrip-banner-horizintal.webp') center no-repeat;
      figure{
          width: 80px;
          height: 80px;
      }

    }
}
