section{

    min-height: 50vh;
    figure{
        width: 120px;
        height: 120px;
    }

    @media screen and (max-width:600px) {
      figure{
          width: 80px;
          height: 80px;
      }

    }
}
