@import '../../../styles/variables';

ul{
    
    li{
        i{
            width: 50px;
            height: 50px;
            background-color: white;
            color: $primary-color;
            
        }
        &:hover{
            i{
                color: white;
                background-color: $primary-color;
            }
            p,a{
                color: $primary-color;
                
            }
        }
    }
}