<div class="row g-3 mt-5">
  <div class="col-xl-3 col-md-6">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="1678"></h4>
      <h6>Travel Pack Completed In Last 5 Years</h6>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="2987"></h4>
      <h6>Worldwide Premium Members</h6>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="1919"></h4>
      <h6>International Corporate Tie-ups</h6>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="2409"></h4>
      <h6>Local & International Client Tie-ups</h6>
    </div>
  </div>
</div>
