<div class="row g-3 mt-5">
  <div class="col-6 col-md-6 col-xl-3">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="250"></h4>
      <h6>{{ "counter.tripsOrganised" | translate }}</h6>
    </div>
  </div>
  <div class="col-6 col-md-6 col-xl-3">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="30"></h4>
      <h6>{{ "counter.combinedYearsOfService" | translate }}</h6>
    </div>
  </div>
  <div class="col-6 col-md-6 col-xl-3">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="50"></h4>
      <h6>{{ "counter.historicalCulturalLandmarks" | translate }}</h6>
    </div>
  </div>
  <div class="col-6 col-md-6 col-xl-3">
    <div class="item text-capitalize p-3">
      <h4 ngxCountAnimation="6"></h4>
      <h6>{{ "counter.unescoWorldHeritageSites" | translate }}</h6>
    </div>
  </div>
</div>