<section class="pageBanner mb-5">
  <div
    class="text-capitalize text-white fw-bold h-100 flexCenter justify-content-end pb-5 mb-5 flex-column"
  >
    <h2 class="fw-bold">{{ 'notFound.notFoundPage' | translate }}</h2>
    <nav style="--bs-breadcrumb-divider: '✈️'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item mainBtn Btn">
          <a [routerLink]="['/']" class="text-decoration-none text-white"
            >{{ 'notFound.goHome' | translate }}</a
          >
        </li>
      </ol>
    </nav>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-md-8 col-sm-10 mx-auto">
      <figure class="rounded-3 overflow-hidden">
        <img
          src="../../../assets/image/undraw_page-not-found.svg"
          class="w-100"
          alt="not found page image"
        />
      </figure>
    </div>
  </div>
</section>
