<div class="mb-5">
  <app-banner [bannerTitle]="bannerTitle"></app-banner>
</div>

<section class="my-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-4">
        <div class="border specialBorder bg-white p-3">
          <div class="imgBox mx-auto">
            <ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
              <!-- لو في صورة محفوظة من السيرفر -->
              @if (profilemeData?.image) {
              <div class="dz-thumb existing text-center">
                <img
                  [src]="profilemeData.image"
                  [alt]="profilemeData.name"
                  class="w-100 rounded"
                />
              </div>
              } @else {
              <!-- اعرض بريفيهات الملفات اللي اختارها المستخدم (File) -->
              @for (file of files(); track file) {
              <ngx-dropzone-label>{{
                "profile.uploadYourImage" | translate
              }}</ngx-dropzone-label>

              <ngx-dropzone-image-preview
                [file]="file"
                [removable]="true"
                (removed)="onRemove(file)"
                class="dz-thumb"
              ></ngx-dropzone-image-preview>
              } }
            </ngx-dropzone>
          </div>

          <!-- <div class="imgBox mx-auto">
            <ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
              <ngx-dropzone-label>Upload Your Image</ngx-dropzone-label>

              @for (file of files(); track file) { @if (profilemeData.image) {
              <ngx-dropzone-image-preview
                [file]="profilemeData.image"
                [removable]="true"
                (removed)="onRemove(file)"
                class="dz-thumb"
              >
              </ngx-dropzone-image-preview>
              }@else {
              <ngx-dropzone-image-preview
                [file]="file"
                [removable]="true"
                (removed)="onRemove(file)"
                class="dz-thumb"
              >
              </ngx-dropzone-image-preview>
              } }
            </ngx-dropzone>
          </div> -->
          <!-- user name and email -->
          <div class="textSecondColor text-center mt-2 pb-3 bs-popover-bottom">
            <h5 class="text-capitalize mb-0 fw-bold">
              {{ profilemeData.name }}
            </h5>
            <p class="">{{ profilemeData.email }}</p>
          </div>

          <ul class="list-unstyled text-capitalize">
            <li
              role="button"
              [class.bg-transparent]="selectedTab !== 'dashboard'"
              [class.bgMainColor]="selectedTab === 'dashboard'"
              (click)="selectedTab = 'dashboard'"
              class="mb-2 p-2 specialBorder"
            >
              <i
                [class.textMainColor]="selectedTab !== 'dashboard'"
                [class.text-white]="selectedTab === 'dashboard'"
                class="fa fa-gauge me-2"
              ></i>
              <span
                [class.textSecondColor]="selectedTab !== 'dashboard'"
                [class.text-white]="selectedTab === 'dashboard'"
                >{{ "profile.dashboard" | translate }}</span
              >
            </li>
            <li
              role="button"
              [class.bg-transparent]="selectedTab !== 'myProfile'"
              [class.bgMainColor]="selectedTab === 'myProfile'"
              (click)="selectedTab = 'myProfile'"
              class="mb-2 p-2 specialBorder"
            >
              <i
                [class.textMainColor]="selectedTab !== 'myProfile'"
                [class.text-white]="selectedTab === 'myProfile'"
                class="fa fa-id-card me-2"
              ></i>
              <span
                [class.textSecondColor]="selectedTab !== 'myProfile'"
                [class.text-white]="selectedTab === 'myProfile'"
                >{{ "profile.myProfile" | translate }}</span
              >
            </li>
            <li
              role="button"
              [class.bg-transparent]="selectedTab !== 'myBooking'"
              [class.bgMainColor]="selectedTab === 'myBooking'"
              (click)="selectedTab = 'myBooking'"
              class="mb-2 p-2 specialBorder"
            >
              <i
                [class.textMainColor]="selectedTab !== 'myBooking'"
                [class.text-white]="selectedTab === 'myBooking'"
                class="fa fa-clipboard-list me-2"
              ></i>
              <span
                [class.textSecondColor]="selectedTab !== 'myBooking'"
                [class.text-white]="selectedTab === 'myBooking'"
                >{{ "profile.myBooking" | translate }}</span
              >
            </li>
            <li
              role="button"
              [class.bg-transparent]="selectedTab !== 'myWishlist'"
              [class.bgMainColor]="selectedTab === 'myWishlist'"
              (click)="selectedTab = 'myWishlist'"
              class="mb-2 p-2 specialBorder"
            >
              <i
                [class.textMainColor]="selectedTab !== 'myWishlist'"
                [class.text-white]="selectedTab === 'myWishlist'"
                class="fa fa-heart-circle-plus me-2"
              ></i>
              <span
                [class.textSecondColor]="selectedTab !== 'myWishlist'"
                [class.text-white]="selectedTab === 'myWishlist'"
                >{{ "profile.myWishlist" | translate }}</span
              >
            </li>
            <li
              role="button"
              [class.bg-transparent]="selectedTab !== 'setting'"
              [class.bgMainColor]="selectedTab === 'setting'"
              (click)="selectedTab = 'setting'"
              class="mb-2 p-2 specialBorder"
            >
              <i
                [class.textMainColor]="selectedTab !== 'setting'"
                [class.text-white]="selectedTab === 'setting'"
                class="fa fa-gear me-2"
              ></i>
              <span
                [class.textSecondColor]="selectedTab !== 'setting'"
                [class.text-white]="selectedTab === 'setting'"
                >{{ "profile.settings" | translate }}</span
              >
            </li>
            <li
              role="button"
              [class.bg-transparent]="selectedTab !== 'logout'"
              [class.bgMainColor]="selectedTab === 'logout'"
              (click)="logout()"
              (click)="selectedTab = 'logout'"
              class="mb-2 p-2 specialBorder"
            >
              <i
                [class.textMainColor]="selectedTab !== 'logout'"
                [class.text-white]="selectedTab === 'logout'"
                class="fa fa-arrow-right-from-bracket me-2"
              ></i>
              <span
                [class.textSecondColor]="selectedTab !== 'logout'"
                [class.text-white]="selectedTab === 'logout'"
                >{{ "profile.logout" | translate }}</span
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div>
          @if (selectedTab==='dashboard') {
          <div class="row g-3">
            <div class="col-md-6">
              <div class="p-3 specialBorder border flexBetween">
                <div class="textSecondColor">
                  <b class="fs-3">{{ tourCart.length }}</b>
                  <p class="mb-1 text-capitalize">
                    {{ "profile.totalBooking" | translate }}
                  </p>
                </div>
                <div class="iconBox m-0 bg-transparent text-danger">
                  <i class="fa fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="p-3 specialBorder border flexBetween">
                <div class="textSecondColor">
                  <b class="fs-3">{{ favList.length }}</b>
                  <p class="mb-1 text-capitalize">
                    {{ "profile.favoriteTour" | translate }}
                  </p>
                </div>
                <div class="iconBox m-0 bg-white text-danger">
                  <i class="fa fa-heart-circle-plus"></i>
                </div>
              </div>
            </div>
          </div>

          } @if (selectedTab==='myProfile') {
          <div
            class="p-4 border sideBar rounded-3 textSecondColor text-capitalize"
          >
            <h5 class="fw-bold mb-3 pb-3 border-bottom">
              {{ "profile.profileInfo" | translate }}
            </h5>

            <p>
              <b class="me-5">{{ "profile.fullName" | translate }}:</b>
              {{ profilemeData.name }}
            </p>
            <p>
              <b class="me-5">{{ "profile.email" | translate }}:</b>
              {{ profilemeData.email }}
            </p>
            <p>
              <b class="me-5">{{ "profile.phone" | translate }}:</b>
              {{ profilemeData.phone }}
            </p>
            <p>
              <b class="me-5">{{ "profile.address" | translate }}:</b
              >{{ profilemeData.nationality }}
            </p>
            <p>
              <b class="me-5">{{ "profile.joinDate" | translate }}:</b
              >{{ profilemeData.created_at | date }}
            </p>
          </div>
          } @if (selectedTab==='myBooking') { @if (haveData) {
          <swiper-container #bookingCarousel init="false">
            @for (cart of tourCart; track $index) {
            <swiper-slide>
              <app-tour-cart [tour]="cart.tour"></app-tour-cart>
              <div class="text-capitalize textSecondColor mt-4">
                <h6>
                  {{ "profile.guest" | translate }}:
                  <b *ngIf="cart.adults" class="textMainColor"
                    >{{ cart.adults }} {{ "profile.adults" | translate }}</b
                  >
                  ,<b *ngIf="cart.children" class="textMainColor"
                    >{{ cart.children }} {{ "profile.children" | translate }}</b
                  >
                  ,<b *ngIf="cart.infants" class="textMainColor"
                    >{{ cart.infants }} {{ "profile.infants" | translate }}</b
                  >
                </h6>
                <h6>
                  {{ "profile.totalPrice" | translate }} :
                  <b class="textMainColor">{{ cart.totalPrice | currency }}</b>
                </h6>
                <h6>
                  {{ "profile.bookingDate" | translate }} :<b
                    class="textMainColor"
                    >{{ cart.start_date | date }}</b
                  >
                </h6>
              </div>
            </swiper-slide>
            }
          </swiper-container>
          }@else {
          <h2 class="text-danger text-capitalize">
            {{ "profile.noTourInBookingCart" | translate }}
          </h2>
          } } @if (selectedTab==='myWishlist') { @if (haveData) {
          <swiper-container #wishlistCarousel init="false">
            @for (cart of favList; track $index) {
            <swiper-slide>
              <app-tour-cart [tour]="cart.tour"></app-tour-cart>
            </swiper-slide>
            }
          </swiper-container>
          }@else {
          <h2 class="text-danger text-capitalize">
            {{ "profile.noTourInWishlist" | translate }}
          </h2>
          } } @if (selectedTab==='setting') {
          <form
            [formGroup]="updateProfile"
            (ngSubmit)="submitProfileData()"
            class="row g-3"
          >
            <div class="col-md-6">
              <div class="mb-2">
                <label
                  for="name"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "profile.fullName" | translate }}</label
                >
                <div class="item position-relative">
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    [placeholder]="'profile.yourFullName' | translate"
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa fa-file-signature textMainColor"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-2">
                <label
                  for="phone"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                >
                  {{ "profile.phone" | translate }}</label
                >
                <div class="item position-relative">
                  <input
                    type="tel"
                    id="phone"
                    formControlName="phone"
                    [placeholder]="'profile.yourPhone' | translate"
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa fa-phone-volume textMainColor"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-2">
                <label
                  for="password"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "profile.password" | translate }}</label
                >
                <div class="item position-relative">
                  <input
                    type="password"
                    id="password"
                    formControlName="password"
                    [placeholder]="'profile.yourPassword' | translate"
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa fa-lock textMainColor"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-2">
                <label
                  for="password_confirmation"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "profile.passwordConfirmation" | translate }}</label
                >
                <div class="item position-relative">
                  <input
                    type="password"
                    id="password_confirmation"
                    formControlName="password_confirmation"
                    [placeholder]="
                      'profile.yourPasswordConfirmation' | translate
                    "
                    class="form-control p-2 ps-5 rounded-3"
                  />
                  <i class="fa fa-lock textMainColor"></i>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-2">
                <label
                  for="nationality"
                  class="textSecondColor text-capitalize fw-bold mb-2"
                  >{{ "profile.nationality" | translate }}</label
                >
                <div class="item position-relative">
                  <select
                    id="nationality"
                    formControlName="nationality"
                    class="form-control p-2 ps-5 rounded-3"
                  >
                    <option value="" selected disabled>
                      {{ "profile.selectYourNationality" | translate }}
                    </option>
                    @for (item of countriesList; track $index) {

                    <option [value]="item.name">{{ item.name }}</option>
                    }
                  </select>
                  <i class="fa fa-globe textMainColor"></i>
                </div>
              </div>
            </div>

            <div>
              <button type="submit" class="Btn mainBtn">
                {{ "profile.updateProfileInfo" | translate }}
              </button>
            </div>
          </form>
          }
        </div>
      </div>
    </div>
  </div>
</section>

<app-make-trip-form></app-make-trip-form>
