::ng-deep .imgBox{
    width: 150px;
    height: 150px;
    
    ngx-dropzone{
       width: 100% !important;
       height: 100% !important;
       border: 1px solid rgba(183, 183, 183, 0.6) !important;
       border-radius: 50px 50px 50px 0px;
    justify-content: center;
    overflow: hidden;

    .dz-thumb{max-width: 180px;}
   
   }
}

p b{width: 80px; display: inline-block;}
.item{
    i{
        position: absolute;
        top: 12px;
        left: 15px;
    }

    /* hide native date text until focus or value */
input[type="date"]::-webkit-datetime-edit { color: transparent; }
input[type="date"]:focus::-webkit-datetime-edit,
input[type="date"].filled::-webkit-datetime-edit { color: inherit; }

/* fake placeholder */
input[type="date"] {
  position: relative;
}
input[type="date"]::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 2.5rem; /* match your ps-5 padding */
  top: 50%; transform: translateY(-50%);
  color: #616879;
}
input[type="date"]:focus::before,
input[type="date"].filled::before { content: ""; }

}