<div class="row g-3 mt-4">
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-jet-fighter-up textMainColor"></i>
      </div>
      <h5>Convenient Booking Platforms</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-water-ladder textMainColor"></i>
      </div>
      <h5>Multi-Destination Itineraries</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-location-dot textMainColor"></i>
      </div>
      <h5>Customized Travel Packages</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-cubes-stacked textMainColor"></i>
      </div>
      <h5>Destination Expertise</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-mountain-city textMainColor"></i>
      </div>
      <h5>Sustainable Travel Initiatives</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-sailboat textMainColor"></i>
      </div>
      <h5>Exclusive Deals and Discounts</h5>
    </div>
  </div>
</div>
