<div class="row g-3 mt-4 text-capitalize">
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-medal textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.personalisedTravelServices" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa-regular fa-gem textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.highQualityService" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-user-tie textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.experiencedTravelConsultants" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-arrows-rotate textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.flexibleToChange" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-leaf textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.advocateEcotourism" | translate }}</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex align-items-center">
      <div class="iconBox flex-shrink-0 me-3 rounded-3 textMainColor">
        <i class="fa fa-user-shield textMainColor"></i>
      </div>
      <h5>{{ "aboutCategory.safetyFirst" | translate }}</h5>
    </div>
  </div>
</div>
