<section class="testimonial position-relative my-5 py-5 bgPrimaryWhiteColor">
  <div class="container pt-5">
    <swiper-container
      *ngIf="allReviews.length > 0"
      #testimonialCarousel
      init="false"
    >
      @for (testimonial of allReviews; track $index) {
      <swiper-slide>
        <div class="row g-3 item">
          <div class="col-md-4 border-end">
            <figure class="mb-0 position-relative p-xl-2 p-md-4 mx-auto">
              <img
                src="../../../assets/image/man1.webp"
                class="w-100 h-100 rounded-circle"
                alt="reviewer image"
              />
            </figure>
          </div>
          <div class="col-md-8">
            <figcaption class="text-center ps-md-5">
              <div class="text-capitalize flexBetween align-items-start">
                <div>
                  <h4 class="textSecondColor mb-1 fw-bold">
                    {{ testimonial.reviewer_name }}
                  </h4>
                  <h6 class="textMainColor mb-0 fw-bold">our clients</h6>
                </div>

                <div>
                  <span *ngFor="let filled of getStars(testimonial.rate)">
                    <i
                      [ngClass]="
                        filled
                          ? 'fa fa-star text-warning'
                          : 'fa-regular fa-star text-warning'
                      "
                    ></i>
                  </span>
                </div>
              </div>
              <p class="my-3 mb-2 fs-5">" {{ testimonial.content }} "</p>
            </figcaption>
          </div>
        </div>
      </swiper-slide>
      }
    </swiper-container>

    @if (allReviews.length > 0) {
    <div class="carousel-nav-buttons testimonial-nav-buttons">
      <button
        type="button"
        class="nav-btn prev-btn"
        (click)="prevTestimonial()"
      >
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button
        type="button"
        class="nav-btn next-btn"
        (click)="nextTestimonial()"
      >
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
    }
  </div>

  <img
    src="../../../assets/image/testimonial-leaf.webp"
    class="position-absolute img1"
    alt="testimonial image "
  />
  <img
    src="../../../assets/image/quote-icon-white.svg"
    class="position-absolute img2"
    alt="testimonial image "
  />
</section>
