@import '../../../styles/variables';

.testimonial{


.item{
        // padding: 20px 20px 20px 10px;
        // gap: 15px;
        figure{
            width: 80px;
            height: 80px;
            border: 3px solid #fff;
            //padding: 10px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
}


        figcaption{
          padding-bottom: 50px !important;
            p{
                font-size: 2rem;
            }
        }
    }

    // .img1 , .img2{
    //     width: 120px;
    //     height: 120px;
    //     animation: bounce-y 7s infinite  ease-in-out;
    // }
    // .img1{
    //     top: 14%;
    //     left: 4%;
    // }
    // .img2{
    //   top: 40%;
    //   right: 30%;
    // }
    // @media screen and (max-width:767px) {
    //     .img1 , .img2{
    //         width: 80px;
    //         height: 80px;
    //     }

    //     .item figcaption{
    //         p{
    //             font-size: 1.2rem;
    //         }
    //     }
    // }
}

// Navigation buttons use shared styles from styles.scss

::ng-deep{
    ngx-slick-carousel {
      position: relative;
    }

    .slick-arrow {
        display: none !important;
    }
}


