// Global SCSS Variables for the entire project
// primary #DB9F3E   secondary #0A1642,
$primary-color: #FBBE01;

$secondary-color:#831B10 ;   //#B3261D
$third-color: #FD9705;
$primary-white-color: #EDF2F1;
$primary-black-color: #08446A;
$text-color: #757F95;
$border-color: #EEEFEF;
$heading-font: "Laila", serif;
$accent-font: "Lily Script One", system-ui;
$bady-font: "Bellota", system-ui;
$transition: all 0.7s ease-in-out;
$border-radius: 8px;
