// Global SCSS Variables for the entire project
// primary #DB9F3E   secondary #0A1642,
$primary-color: #0E726C;
$secondary-color: #592566;
$third-color: #F96768;
$primary-white-color: rgba(89, 37, 102, 0.2);
$primary-black-color: #08446A;
$text-color: #757F95;
$border-color: #EEEFEF;
$heading-font: "Laila", serif;
$accent-font: "Lily Script One", system-ui;
$bady-font: "Bellota", system-ui;
$transition: all 0.7s ease-in-out;
