<div class="mb-5">
  <app-banner [bannerTitle]="bannerTitle"></app-banner>
</div>

<section class="destinations my-5 py-5">
  <div class="container">
    <div class="secTitle text-center">
      <span
        class="box bgMainColor text-white text-uppercase border rounded-pill p-2 transition"
      >
        <span
          class="bg-white textMainColor rounded-circle transition d-inline-block"
          ><i class="fa fa-plane me-2 ps-1"></i
        ></span>

        travel deal
      </span>
      <h2 class="my-3 textSecondColor fw-bold">
        Our Most Popular Travel Deals
      </h2>
    </div>

    <div class="mt-5">
      <owl-carousel-o
        *ngIf="allDestinations.length > 0"
        [options]="destinationOptions"
      >
        @for (des of allDestinations; track $index) {
        <ng-template carouselSlide>
          <app-destination-cart [destination]="des"></app-destination-cart>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>
<app-make-trip-form></app-make-trip-form>
<app-partner-slider></app-partner-slider>
