<div class="mt-5 sideBar bg-secondary bg-opacity-10 py-5">
  <div class="container">
    <swiper-container
      *ngIf="partnerImg.length > 0"
      #partnerCarousel
      init="false"
    >
      @for (image of partnerImg; track $index) {
      <swiper-slide>
        <div class="mx-2">
          <img
            [src]="image.src"
            width="150px"
            height="80px"
            alt="partners image"
          />
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</div>
