<section class="my-5 py-5">
  <div class="container pt-5">
    <figure class="rounded-pill">
      <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div
          class="item position-relativ bg-white rounded-4 sideBar p-3 text-center"
        >
          <h5 class="textSecondColor text-capitalize h4">
            First Booking <span class="textMainColor">Get 70%</span> Discount!
          </h5>
          <p class="my-3">
            It is a long established fact that a reader will be distracted by
            the readable content web page editors now use of a page when looking
            at its layout.
          </p>
          <button routerLink="/makeTrip" class="mainBtn Btn">
            book now <i class="fa fa-arrow-right ms-1 rounded-circle"></i>
          </button>
        </div>
      </div>
    </figure>
  </div>
</section>
