<div
  class="banner position-relative z-1"
  [style.background]="'url(' + backgroundImage + ') center no-repeat'"
  [style.background-size]="'cover'"
>
  <div
    class="container text-center h-100 d-flex align-items-center justify-content-center"
  >
    <h2 class="text-capitalize h3 fw-bold text-white">
      {{ bannerTitle }}
    </h2>
  </div>
  <div class="layer position-absolute top-0 start-0 w-100 h-100"></div>
  <!-- <img
    src="../../../assets/image/banner/banner-bg-shape.webp"
    class="position-absolute bottom-0 start-0 w-100"
    alt="shape banner"
  /> -->
</div>
