@import '../../../styles/variables';

.banner{
    margin-top: -96px;

    height: 60vh;
    position: relative;

    .layer{
        background: linear-gradient(135deg,
        rgba($secondary-color, 0.5) 40%,
        rgba($primary-color, 0.2) 100%);
        mix-blend-mode: multiply;
    }

    h2 {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8),
                     0 0 20px rgba(0, 0, 0, 0.5);
        z-index: 2;
        position: relative;
    }

    // img{
    //     height: 100px;
    // }

}
