<div class="fixed-top bg-transparent">
  <!-- Main Navbar -->
  <nav
    class="navbar navbar-expand-lg bg-white bg-opacity-50"
    [class.whiteNav]="scrolled"
    [class.sidebar-open]="isSidebarOpen"
  >
    <div class="container flex-nowrap">
      <!-- Logo Section -->
      <div routerLink="/" class="navbar-brand cPointer">
        <img
          [src]="logo || '../../../assets/image/logo-egygo.webp'"
          [alt]="siteTitle"
          [title]="siteTitle"
          class="me-2 w-100 h-100"
          (error)="
            $any($event.target).src = '../../../assets/image/logo-egygo.webp'
          "
        />
      </div>

      <!-- Navigation Links (Desktop) -->
      <div class="navbar-nav me-auto d-none d-lg-flex gap-2 align-items-center">
        <ng-container *ngFor="let link of navigationLinks">
          <a
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: link.path === '/' }"
            class="nav-link fw-bold text-dark position-relative"
          >
            {{ link.label | translate }}
          </a>

          <!-- Dropdown categories -->
          <ng-container *ngIf="link.path === '/' && allCategories?.length">
            <div
              class="nav-link fw-bold text-dark position-relative dropdown custom-dropdown"
            >
              <span
                role="button"
                routerLink="/tour"
                routerLinkActive="active"
                class="d-block text-capitalize"
                >{{ "nav.tours" | translate }}</span
              >
              <ul class="dropdown-menu border-0 shadow">
                <li *ngFor="let cat of allCategories">
                  <a
                    class="dropdown-item"
                    [routerLink]="['/tour']"
                    routerLinkActive="active"
                    [queryParams]="{ type: cat.slug }"
                  >
                    {{ cat.title }}
                  </a>
                </li>
              </ul>
            </div>
          </ng-container>

          <ng-container *ngIf="link.path === '/' && allDestinations?.length">
            <div
              class="nav-link fw-bold text-dark position-relative dropdown custom-dropdown"
            >
              <span
                role="button"
                routerLink="/destination"
                routerLinkActive="active"
                class="d-block"
                >{{ "nav.destinations" | translate }}</span
              >
              <ul class="dropdown-menu border-0 shadow">
                <li
                  *ngFor="let dest of allDestinations"
                  class="dropdown-submenu"
                >
                  <!-- ✅ if egypt-->
                  <a
                    *ngIf="!isEgypt(dest)"
                    class="dropdown-item"
                    [routerLink]="['/destination', dest.slug]"
                    routerLinkActive="active"
                  >
                    {{ dest.title }}
                  </a>

                  <!-- ✅ if not egypt submenu -->
                  <ng-container *ngIf="isEgypt(dest)">
                    <a
                      [routerLink]="['/destination', dest.slug]"
                      class="dropdown-item dropdown-toggle cPointer"
                    >
                      {{ dest.title }}
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let cat of egyptCategories">
                        <a
                          class="dropdown-item"
                          [routerLink]="['/tour']"
                          routerLinkActive="active"
                          [queryParams]="{ type: cat.slug }"
                        >
                          {{ cat.title }}
                        </a>
                      </li>
                    </ul>
                  </ng-container>
                </li>
              </ul>
            </div>
          </ng-container>

          <!-- Dropdown Destinations -->
          <!-- <ng-container *ngIf="link.path === '/' && allDestinations?.length">
            <div
              class="nav-link px-1 mx-2 fw-bold text-white position-relative dropdown custom-dropdown"
            >
              <span class="d-block">Destinations</span>
              <ul class="dropdown-menu border-0 shadow">
                <li *ngFor="let dest of allDestinations">
                  <a
                    class="dropdown-item"
                    [routerLink]="['/destination', dest.slug]"
                  >
                    {{ dest.title }}
                  </a>
                </li>
              </ul>
            </div>
          </ng-container> -->
        </ng-container>
      </div>

      <!-- Right Section -->
      <div class="d-flex align-items-center flex-shrink-0 g-1">
        <div
          class="dropdown position-relative custom-dropdown pb-0 pt-1 px-1 rounded-2"
        >
          <span
            role="button"
            class="fa fa-gear fs-5 textSecondColor border-0"
          ></span>

          <ul class="dropdown-menu border-0 shadow">
            <li class="dropdown-item">
              <i
                routerLink="/signup"
                routerLinkActive="textMainColor"
                class="fa fa-circle-user textSecondColor me-2 fw-bold cPointer"
                title="Sign up now"
              ></i>
              <span>{{ "common.signup" | translate }}</span>
            </li>
            <li class="dropdown-item">
              <i
                routerLink="/cart"
                routerLinkActive=" textMainColor "
                class="fa fa-cart-plus textSecondColor me-2 fw-bold cPointer"
                title="Tours cart"
              ></i>
              <span>{{ "common.cart" | translate }}</span>
            </li>
            <li class="dropdown-item">
              <i
                routerLink="/profile"
                routerLinkActive=" textMainColor "
                class="fa fa-address-book textSecondColor me-2 fw-bold cPointer"
                title="My profile"
              ></i>
              <span>{{ "common.profile" | translate }}</span>
            </li>
            <li class="dropdown-item">
              <i
                routerLink="/logout"
                routerLinkActive=" textMainColor "
                class="fa fa-sign-out textSecondColor me-2 fw-bold cPointer"
                title="Logout"
              ></i>
              <span>{{ "common.logout" | translate }}</span>
            </li>
          </ul>
        </div>

        <!-- select language -->
        <div
          class="dropdown position-relative custom-dropdown language-dropdown"
        >
          <i class="fa fa-globe textSecondColor" title="Select language"></i>
          <span
            role="button"
            class="language-selector cPointer d-inline-block"
            (click)="toggleLanguageDropdown()"
          >
            <span class="language-text">{{
              getCurrentLanguageName() | translate
            }}</span>
          </span>

          <ul
            class="dropdown-menu border-0 shadow language-menu"
            [class.show]="isLanguageDropdownOpen"
          >
            <li class="dropdown-item cPointer" (click)="selectLanguage('en')">
              <span>{{ "common.english" | translate }}</span>
            </li>
            <li class="dropdown-item cPointer" (click)="selectLanguage('es')">
              <span>{{ "common.spanish" | translate }}</span>
            </li>
            <li class="dropdown-item cPointer" (click)="selectLanguage('it')">
              <span>{{ "common.italian" | translate }}</span>
            </li>
          </ul>
        </div>

        <!-- make trip Button -->
        <button
          routerLink="/makeTrip"
          class="mainBtn Btn d-none d-lg-flex align-items-center gap-2 py-1 mx-2"
        >
          {{ "common.makeTrip" | translate }}
        </button>

        <!-- Toggle Button -->
        <button
          class="mainBtn Btn rounded-2 d-lg-none pb-0 pt-1 px-1"
          (click)="toggleSidebar()"
          type="button"
          aria-label="Toggle navigation"
        >
          <span class="fa fa-bars fs-5 border-0"></span>
        </button>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <div
    class="offcanvas offcanvas-end"
    id="sidebarOffcanvas"
    tabindex="-1"
    aria-labelledby="sidebarOffcanvasLabel"
    [class.show]="isSidebarOpen"
    [style.visibility]="isSidebarOpen ? 'visible' : 'hidden'"
  >
    <div class="offcanvas-header border-bottom flexBetween">
      <div class="d-flex align-items-center">
        <img
          [src]="logo || '../../../assets/image/logo-egygo.webp'"
          [alt]="siteTitle"
          [title]="siteTitle"
          class="me-2"
          style="width: 140px; height: 40px; object-fit: contain"
          (error)="
            $any($event.target).src = '../../../assets/image/logo-egygo.webp'
          "
        />
      </div>
      <button
        class="btn-close wfit mx-auto"
        (click)="closeSidebar()"
        type="button"
        aria-label="Close"
      ></button>
    </div>

    <div class="offcanvas-body">
      <div class="navbar-nav flex-column">
        <ng-container *ngFor="let link of navigationLinks">
          <a
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: link.path === '/' }"
            class="nav-link px-1 mx-2 fw-bold text-dark position-relative"
          >
            {{ link.label | translate }}
          </a>

          <!-- Dropdown categories -->
          <ng-container *ngIf="link.path === '/' && allCategories?.length">
            <div
              class="nav-link px-1 mx-2 fw-bold text-dark position-relative dropdown custom-dropdown"
            >
              <span class="d-block text-capitalize">tours</span>
              <ul class="dropdown-menu border-0 shadow">
                <li *ngFor="let cat of allCategories">
                  <a
                    class="dropdown-item"
                    [routerLink]="['/tour']"
                    routerLinkActive="active"
                    [queryParams]="{ type: cat.slug }"
                  >
                    {{ cat.title }}
                  </a>
                </li>
              </ul>
            </div>
          </ng-container>

          <!-- Dropdown Destinations -->
          <ng-container *ngIf="link.path === '/' && allDestinations?.length">
            <div
              class="nav-link px-1 mx-2 fw-bold text-dark position-relative dropdown custom-dropdown"
            >
              <span class="d-block">Destinations</span>
              <ul class="dropdown-menu border-0 shadow">
                <li
                  *ngFor="let dest of allDestinations"
                  class="dropdown-submenu"
                >
                  <!-- ✅ if egypt-->
                  <a
                    *ngIf="!isEgypt(dest)"
                    class="dropdown-item"
                    [routerLink]="['/destination', dest.slug]"
                    routerLinkActive="active"
                  >
                    {{ dest.title }}
                  </a>

                  <!-- ✅ if not egypt submenu -->
                  <ng-container *ngIf="isEgypt(dest)">
                    <a
                      [routerLink]="['/destination', dest.slug]"
                      routerLinkActive="active"
                      class="dropdown-item dropdown-toggle cPointer"
                    >
                      {{ dest.title }}
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let cat of egyptCategories">
                        <a
                          class="dropdown-item"
                          [routerLink]="['/tour']"
                          routerLinkActive="active"
                          [queryParams]="{ type: cat.slug }"
                        >
                          {{ cat.title }}
                        </a>
                      </li>
                    </ul>
                  </ng-container>
                </li>
              </ul>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="offcanvas-footer border-top p-3">
      <div>
        <i
          routerLink="/signup"
          routerLinkActive="textMainColor"
          class="fa fa-circle-user textSecondColor me-2 fw-bold cPointer"
          title="Sign up now"
        ></i>

        <i
          routerLink="/cart"
          routerLinkActive=" textMainColor "
          class="fa fa-cart-plus textSecondColor me-2 fw-bold cPointer"
          title="Tours cart"
        ></i>

        <i
          routerLink="/profile"
          routerLinkActive=" textMainColor "
          class="fa fa-address-book textSecondColor me-2 fw-bold cPointer"
          title="My profile"
        ></i>
      </div>

      <button
        routerLink="/makeTrip"
        class="mainBtn Btn w-100 d-flex align-items-center justify-content-center gap-2"
      >
        {{ "common.makeTrip" | translate }}
      </button>
    </div>
  </div>

  <!-- Backdrop -->
  <div
    class="offcanvas-backdrop fade"
    [class.show]="isSidebarOpen"
    (click)="closeSidebar()"
    [style.display]="isSidebarOpen ? 'block' : 'none'"
  ></div>
</div>
