@import '../../../styles/#language';

.about{
  .counterBox{
    width: 140px;
    height: 140px;
  }
  @media screen and (max-width:586px) {
   .counterBox{
     width: 110px;
     height: 110px;
     h3{font-size: 20px;}
     p{font-size: 14px;}
   }

 }

}
