/* You can add global styles to this file, and also import other style files */
@import './styles/_variables.scss';

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Laila:wght@300;400;500;600;700&family=Lily+Script+One&display=swap');


// Global styles
body {
    margin: 0;
    padding-top: 70px;
    font-family: none;
    // font-family: $bady-font;
    line-height: 1.6;
    // color: $text-color;

    h1,h2,h3,h4,h5,h6{
      line-height: 1.3;
      font-family: none;
      // font-family: $heading-font;
    }
}

* {
    box-sizing: border-box;
}
// @media screen and (min-width:576px){

//   .container{width: 540px;}
// }
// @media screen and (min-width:768px){

//   .container{width: 720px;}
// }
// @media screen and (min-width:992px){

//   .container{width: 960px;}
// }
// @media screen and (min-width:1200px){

//   .container{width: 1140px;}
// }
// @media screen and (min-width:1400px){

//   .container{width: 1320px;}
// }

.bgMainColor {
    background-color: $primary-color;
}
.borderMainColor {
    border-color: $primary-color !important;
}
.textMainColor {
    color: $primary-color;
}
.bgSecondColor {
    background-color: $secondary-color;
}
.borderSecondColor {
    border-color: $secondary-color !important;
}
.textSecondColor {
    color: $secondary-color;
}
.bgPrimaryWhiteColor {
    background-color: $primary-white-color;
}
.textPrimaryWhiteColor {
    color: $primary-white-color;
}
.bgThirdColor {
    background-color: $third-color;
}
.textThirdColor {
    color: $third-color;
}

.wfit{width: fit-content;}


// slick carousel global styles
.slick-arrow {
  position: absolute !important;
  width: 35px !important;
  height: 35px !important;
  background-color: #fff !important;
  border: none !important;
  border-radius: 50% !important;
  color: #000 !important;
  opacity: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  line-height: 1 !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  z-index: 10 !important;
  cursor: pointer !important;

  &::before {
    display: none !important;
  }

  i {
    font-size: 18px !important;
    line-height: 1 !important;
    color: #000 !important;
  }

  &:hover {
    background-color: $secondary-color !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: scale(1.05) !important;

    i {
      color: #fff !important;
    }
  }

  &:active {
    transform: scale(0.95) !important;
  }

  &.slick-disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}

// Shared carousel navigation buttons styles
// All buttons have the same size and style, only positioning differs
.carousel-nav-buttons {
  display: flex;
  gap: 10px;
  align-items: center;

  .nav-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0;

    i {
      font-size: 16px;
      color: #000;
      line-height: 1;
    }

    &:hover {
      background-color: $secondary-color;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transform: scale(1.05);

      i {
        color: #fff;
      }
    }

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }
  }

  // Positioning variant: testimonial buttons (centered at bottom)
  &.testimonial-nav-buttons {
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    padding-bottom: 20px;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  // Positioning variant: title buttons (next to title on the right)
  &.title-nav-buttons {
    width: fit-content !important;

    @media screen and (max-width: 767px) {
      width: fit-content !important;
      margin-top: 15px;
      width: 100%;
      justify-content: flex-end;
    }
  }
}

.slick-dots {
  li {
    button {
      &::before {
        color: $primary-color !important;
        opacity: 0.5 !important;
      }
    }

    &.slick-active button::before {
      color: $primary-color !important;
      opacity: 1 !important;
    }
  }
}


// style

.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color: $secondary-color !important;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: $secondary-color !important;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  // border-color: var(--mdc-radio-selected-icon-color);
  border-color: $secondary-color !important;
}

.mat-mdc-slider .mdc-slider__thumb-knob{border: 1px solid #592566 !important;}

html{
    --mdc-slider-handle-color: #fff !important;
    --mdc-slider-focus-handle-color: #592566 !important;
    --mdc-slider-hover-handle-color: #592566 !important;
    --mdc-slider-active-track-color: #592566 !important;
    --mdc-slider-inactive-track-color: #592566 !important;
    --mdc-slider-with-tick-marks-inactive-container-color: #592566 !important;
}



.Btn{
  background-color: transparent;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 1s;
  text-transform: capitalize;
  padding: 7px 14px;
  border-radius: 45px;
  i{padding-top: 8px; width: 30px ; height: 30px; }

  &::before , &::after{
      content: "";
      position: absolute;

      z-index: -1;
      transition: $transition;

}

    &::after{
      right: 0;
      top: 0;
      bottom: 50%;
    }
    &::before{
      left: 0;
      bottom: 0;
      top: 50%;
    }

    &:hover {
      i{
        transition: $transition;
        --fa-rotate-angle:330deg;
      }

    }
}

.mainBtn.Btn{
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  color: white;
  i{
    background-color:  white;
    color:  $secondary-color;
  }

  &::before , &::after{
    background-color: $primary-color;
    width: 0%;
  }

  &:hover {
      border-color: $primary-color;
    &::before,&::after{
      width: 100%;

    }
    i{
      color: white;
      border: 1px solid #fff;
      background-color: transparent !important;
    }
  }
}

.secBtn.Btn{
    border: 1px solid $primary-color;
    color:  black;
    background-color:  white;
    i{
      color:  $primary-color;
      border-color:  $primary-color;
      background-color:  transparent;
    }
    &::before , &::after{
        background-color: $primary-color;
        width: 0%;
    }
      &:hover {
        color: white;
        border-color: $secondary-color;
        &::before,&::after{
          width: 100%;
        }
        i{
          color: $secondary-color;
          border: 1px solid $secondary-color;
          background-color: white !important;
        }
      }
  }

.transition{transition: $transition;}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  img{
    border-radius: 50px;
    width: 55px;
}
}
.secTitle{
 h2{font-size: 40px; }
  span.box{
    letter-spacing: 3px;
    span{
        width: 25px;
        height: 25px;
    }
  }

  &:hover{
    span.box{
        background-color: #fff !important;
        color: $primary-color !important;
        border-color: $primary-color !important;
        span{
            color: #fff !important;
           background-color: $primary-color !important;

        }
    }
}

  @media screen and (max-width:767px) {
    h2{font-size: 25px;}

  }
}

.iconBox{
  background-color: $primary-white-color;
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
  margin-right: 20px;
}

.cPointer{
  cursor: pointer;
}

figure.imgHover{
  img{
    transition: all 1s;
  }
  &:hover{
    img{
      transform: scale(1.05) rotate(2deg);
      }
    }
}

.sideBar{
  box-shadow: 1px 1px 5px 5px rgba(219, 159, 62, 0.1);
  border: 1px solid $border-color;
}

.form-control:focus{
  box-shadow: 1px 1px 9px 9px rgba(219, 159, 62, 0.1) !important;
  border-color: $secondary-color;
}

// checkbox
.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background{
    border-color: $secondary-color !important;
    background-color: $secondary-color !important;
}

// inputs , textarea , select
*{
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
    background-color: transparent !important;
    border: 1px solid $border-color !important;
    border-radius: 8px;
  }
  // Change label color on focus for matInput
  .mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
    color: $secondary-color !important;
  }

  .mat-mdc-form-field-focus-overlay{
    background-color: $secondary-color !important;
    border-bottom-color: $secondary-color;
  }

}

.specialBorder{border-radius: 50px 50px 50px 0px;}

// btn controls
.controls{
    // border: 1px solid $secondary-color !important;
    padding-top: 14px !important;

  button{
    transition: all 1s;
    &:hover, &.active{
      background-color: $primary-color;
      border-color: $primary-color;
      color: #fff;
      border-radius: 7px !important;
    }

  }
}



a{text-decoration: none; color: $text-color;}

@keyframes bounce-y {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-50px);
  }
}






