// ::ng-deep {
//   ngx-slick-carousel {
//     .slick-slide {
//       padding: 0 10px;
//     }
//   }
// }
@import '../../../styles/variables';
.item{
    border-top-right-radius: 70px;
    background-color: #F9F6F1;
    display: flex;
    flex-direction: column;
    height: 100%;

    h3{
        height: 50px;
        min-height: 50px;
    }

    p{
        flex: 1;
        min-height: 120px;
        display: flex;
        align-items: flex-start;
        line-height: 1.6;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    &:hover{
        border-top-right-radius: 0px;
        border-radius: $border-radius;
    }

    @media screen and (max-width:568px) {
        h3{font-size: 16px !important; height: auto; min-height: auto;}
        p{font-size: 13px !important; min-height: 100px;}
    }
}
